<!DOCTYPE html>
<html lang="en" data-ng-app="MastermindApp">

  <head>
  	<meta charset="UTF-8">
  	<title>Mastermind Solver</title>

    <script src="angular.min.js"></script>
    <script src="mastermind.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <style>
        .choice1 { background-color: #fea3aa; }
        .choice2 { background-color: #f8b88b; }
        .choice3 { background-color: #faf884; }
        .choice4 { background-color: #baed91; }
        .choice5 { background-color: #b2cefe; }
        .choice6 { background-color: #f2a2e8; }

        .guess, .answer { 
        	height: 50px;
        	width: 50px;
        	margin: 2px;

        	text-align: center;
        	vertical-align: middle;
        	line-height: 50px;
        }
    </style>

  </head>

  <body data-ng-controller="MastermindController">

    <div class="container">

    	<div class="row">
    		<div class="col-sm-2 col-sm-offset-4">
    			<button type="button" value="test" data-ng-click="clickStartNewGame();">Start New</button>
    		</div>
        </div>

        <p>Solution (to be hidden later)</p>
        <div class="row">
        	<div class="col-sm-1" data-ng-repeat="number in solution track by $index">
        		<div class="answer choice{{solution[$index]}}">{{solution[$index]}}</div>
        	</div>
        </div>

        <div data-ng-if="solution.length > 0">
            <p>Guesses</p>
            <div class="row" ng-init="outerIndex = $index" data-ng-repeat="guess in guesses track by $index">
                <div class="col-sm-1" ng-init="innerIndex = $index" data-ng-repeat="num in guess track by $index">
                    <div class="guess choice{{num}}" data-ng-click="clickGuess(outerIndex, $index)">{{num}}</div>
                </div>
        	    <div class="col-sm-2">
                    <button type="button" data-ng-click="clickSubmitAnswer(outerIndex)" data-ng-show="guesses.length == outerIndex + 1">Submit Answer</button>
                    <p data-ng-show="guesses.length > outerIndex + 1">
                        Red: {{hints[$index]['red']}} White: {{hints[$index]['white']}}
                    </p>
                    <p data-ng-if="hints[$index]['red'] == 4">You WON!</p>
                </div>
            </div>
        </div>

    </div>

  </body>

</html>